/* _content/ParaAlpha/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-p1zqa4imed] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-p1zqa4imed] {
  color: #0077cc;
}

.btn-primary[b-p1zqa4imed] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-p1zqa4imed], .nav-pills .show > .nav-link[b-p1zqa4imed] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-p1zqa4imed] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-p1zqa4imed] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-p1zqa4imed] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-p1zqa4imed] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-p1zqa4imed] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


/*custom css below*/

.profile-icon-container[b-p1zqa4imed] {
    padding: 10px;
}

.profile-icon[b-p1zqa4imed] {
    width: 5em;
    height: 5em;
    background: #3498db;
    border-radius: 10%;
    position: relative;
}

.name[b-p1zqa4imed] {
    text-align: center;
    position: relative;
    width: 100%;
}

.flex-container[b-p1zqa4imed] {
    display: flex;
    flex-wrap: wrap;
    max-height: 90vh;
    background: silver;
    overflow-y: auto;
}
