
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing


<ul>
    <li><NavLink href="paras">Paras</NavLink></li>
    <li><NavLink href="profile">Profile</NavLink></li>
</ul>
